body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
div {
    position: relative;
    top: 0px;
    left: 0px;
    font-weight: bold;
    font-size: xx-large;
}
label {
    position: fixed;
    top: 600px;
    left: auto;
    
}
::backdrop {
    color: grey;
}